@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-main-bg: #f1f3fa;
  --card-main-bg-hover: #e1e4f0;
  --main-text-color: #1d1f29;
  --green: #1eb589;
  --light-purple: #8c98c6;
  --red1: #dc414c;
  --fb-blue: #178ff5;
  --gray: #63687d;
  --site-bg: #fff;
}

body {
  color: var(--main-text-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: var(--site-bg);
}

body.dark {
  --card-main-bg-hover: #333a55;
  --main-text-color: #fff;
  --card-main-bg: #252b42;
  --site-bg: #000;
  --gray: #8c98c6;
}

html {
  font-size: 100%;
}

.site-wrapper-full {
  width: 90%;
  max-width: 1115px;
  margin: 0 auto;
  padding: 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
}

.site-toggle-conatiner {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2.5rem 0;
}

h1.site-logo-title {
  color: var(--main-text-color);
  font-size: 28px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.site-logo-total-followers {
  color: var(--gray);
  font-weight: bold;
  transform: translateY(-5px);
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.toggle-text {
  font-weight: bold;
}

.toggler {
  -webkit-appearance: none;
  width: 45px;
  padding: 3px 3px;
  border-radius: 40px;
  background: linear-gradient(to right, #cdcfcf, #cdcfcf);
  background: linear-gradient(to right, #48afdf, #66fdbe);
  outline: none;
}

.toggler.dark {
}

.toggler::-webkit-slider-thumb {
  width: 100px;
  height: 100px;
}

.main-card {
  padding: 1.5rem 0;
  border-radius: 5px;
  background-color: var(--card-main-bg);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main-card:hover {
  background-color: var(--card-main-bg-hover);
}

.main-card::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background: transparent;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-card.fb::before {
  background: #178ff5;
}
.main-card.insta::before {
  background: linear-gradient(to left, #df4896, #ee877e, #fdc366);
}

.main-card.yt::before {
  background: var(--red1);
}

a {
  text-decoration: none;
  display: block;
}

.follower-total {
  font-size: 60px;
  color: var(--main-text-color);
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1;
}

.follower-text {
  color: var(--gray);
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 14px;
}

.social-icon-text {
  font-size: 13px;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  font-size: 25px;
}

.fb-social {
  color: var(--fb-blue);
}

.insta-social {
  color: orange;
}

.yt-social {
  color: var(--red1);
}

.daily-total {
  font-size: 14px;
}

.inc {
  color: var(--green);
}

.dec {
  color: var(--red1);
}

.overview-container {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card-main-bg);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.overview-wrapper {
  margin-top: 40px;
}

.overview-wrapper-title {
  margin-bottom: 21px;
  color: var(--gray);
  font-size: 25px;
}

.overview-container:hover {
  background-color: var(--card-main-bg-hover);
}

.left-overview,
.right-overview {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.left-overview {
  align-items: start;
}

.right-overview {
  align-items: end;
  justify-content: space-around;
  height: 100%;
  /* background-color: red; */
}

.left-overview-page-views {
  color: var(--gray);
  font-size: 15px;
  transform: translateY(6px);
}

.left-overview-page-total {
  color: var(--main-text-color);
  font-size: 35px;
}

@media (max-width: 1015px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .site-toggle-conatiner {
    display: block;

    padding: 2rem 0 2.5rem 0;
  }

  .site-logo-container {
    padding-bottom: 1.2rem;
  }

  h1.site-logo-title {
    font-size: 25px;
  }

  .site-logo-total-followers {
    font-size: 14px;
    transform: translateY(0px);
  }

  .toggle-container {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid rgb(131, 131, 131);
  }
  .grid-container {
    gap: 25px;
  }
}

@media (max-width: 620px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
